<h1>Meetings</h1>

<%= flash_notice %>
<% cache(:admin => is_admin?)
<div class="meeting_list">
  <h2>Upcomming Meetings</h2>
  <ul>
    <%= render partial: "meeting", :collection => @upcomming_meetings %>
    <%= no_meeting(@upcomming_meetings) %>
  </ul>
  <% if is_admin? %>
  <p class="add"><%= link_to('Add metting', new_meeting_path) %></p>
  <% end %>
</div>
<% end %>

<div class="meeting_list">
  <h2>Past Meeting</h2>
  <ul>
    <%= render :partial => 'meeting', :collection => @pastcomming_mettings %>
  </ul>
</div>

